.container-card-reset-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: auto;
    width: 80%;
    max-width: 1266px;
    background: #fbfbfb2b;
    padding: 58px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rv-contenedor-resetpassword {
    border: 2px solid white;
    padding: 12px;
    background: white;
    border-radius: 12px;
    margin-top: 1rem;
}

.input-white::placeholder {
    color: #2681fb;
}

span.container-icon2 {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Media query for tablets */
@media (max-width: 768px) {
    .container-card-reset-password {
        width: 90%;
        padding: 40px;
    }

    .rv-contenedor-resetpassword {
        padding: 10px;
    }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
    .container-card-reset-password {
        width: 90%;
        padding: 20px;
    }

    .rv-contenedor-resetpassword {
        padding: 8px;
    }

    span.container-icon2 {
        right: 0.5rem;
    }
}